* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
}
header .container-fluid {
  padding: 10px 24px;
}
header .container-fluid .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container-fluid .head .header_left img {
  width: 116px;
  height: 32px;
}
header .container-fluid .head .header_right .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container-fluid .head .header_right .cart a img {
  width: 31px;
  height: 31px;
}
header .container-fluid .head .header_right .cart span {
  font-style: normal;
  line-height: 36px;
  margin-right: 20px;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
@media screen and (max-width: 445px) {
  header .container-fluid .head .header_right .cart span {
    font-size: 23px;
    margin-right: 10px;
  }
}
header .container-fluid .head .header_right .cart a p {
  margin-bottom: 0;
  font-style: normal;
  line-height: 19px;
  margin-right: 35px;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 445px) {
  header .container-fluid .head .header_right .cart a p {
    font-size: 13px;
    margin-right: 10px !important;
  }
}

.mynavbar {
  padding: 16px 13px;
}
.mynavbar a {
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin: 0 15px;
  font-style: normal;
  line-height: 24px;
  opacity: 0.7;
  position: relative;
}
@media screen and (max-width: 443px) {
  .mynavbar a {
    font-size: 13px;
  }
}
.mynavbar a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #030303;
  border: 1px solid #000000;
  transform: scale(0);
  transition: transform 0.3s;
}
.mynavbar a:hover {
  opacity: 1;
  font-weight: 400;
}
.mynavbar a:hover::before {
  transform: scale(1);
}
.mynavbar .active {
  opacity: 1;
}
.mynavbar .active::before {
  transform: scale(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 90px;
}
footer .container-fluid .above {
  padding: 30px 180px;
  background-color: #fafafa;
}
@media screen and (max-width: 1052px) {
  footer .container-fluid .above {
    padding: 30px 80px;
  }
}
@media screen and (max-width: 691px) {
  footer .container-fluid .above {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 320px) {
  footer .container-fluid .above {
    padding: 15px 0px;
  }
}
footer .container-fluid .above .infor {
  border-right: 1px solid #edeaea;
  padding: 0 30px;
}
@media screen and (max-width: 537px) {
  footer .container-fluid .above .infor {
    width: 50%;
  }
}
footer .container-fluid .above .infor h2 {
  font-size: 20px;
  font-weight: 800;
}
footer .container-fluid .above .infor a {
  color: black;
  display: block;
  font-size: 15px;
}
@media screen and (max-width: 537px) {
  footer .container-fluid .above .register {
    width: 100%;
    padding: 15px 30px;
  }
}
footer .container-fluid .above .register h2 {
  font-size: 20px;
  font-weight: 800;
}
footer .container-fluid .above .register p {
  color: black;
  margin-bottom: 5px;
  font-size: 15px;
}
footer .container-fluid .above .register a {
  color: rgb(205, 76, 76);
  font-size: 15px;
}
footer .container-fluid .bottom {
  padding: 30px 180px;
  background-color: #ede9e9;
}
@media screen and (max-width: 1052px) {
  footer .container-fluid .bottom {
    padding: 30px 80px;
  }
}
@media screen and (max-width: 691px) {
  footer .container-fluid .bottom {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 320px) {
  footer .container-fluid .bottom {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 423px) {
  footer .container-fluid .bottom .your {
    width: 100%;
    margin-bottom: 20px;
  }
}
footer .container-fluid .bottom .your h2 {
  font-size: 20px;
  font-weight: 800;
}
footer .container-fluid .bottom .your p {
  color: black;
  margin-bottom: 5px;
  font-size: 15px;
}
footer .container-fluid .bottom .your a {
  color: rgb(205, 76, 76);
  font-size: 15px;
}
footer .backToTop {
  position: fixed;
  bottom: 80px;
  right: 80px;
}
@media screen and (max-width: 776px) {
  footer .backToTop {
    bottom: 30px;
    right: 30px;
  }
}
footer .backToTop i {
  font-size: 30px;
  color: #cbc9c9;
}

.carousel .carousel-inner .carousel-item .image {
  background-image: url("../assets/img/image 6.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 530px;
  display: block !important;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  right: 9%;
  left: 9%;
  margin-bottom: 50px;
}
@media screen and (max-width: 518px) {
  .carousel .carousel-inner .carousel-item .carousel-caption {
    margin-bottom: 0;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1260px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row {
    margin-bottom: 0 !important;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1001px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row {
    margin-bottom: 0 !important;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 976px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row {
    margin-bottom: 0 !important;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row {
    margin-bottom: 0 !important;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-left {
    width: 60%;
  }
}
@media screen and (max-width: 518px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-left {
    width: 100%;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-left img {
  width: 100%;
}
@media screen and (max-width: 518px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-left img {
    width: 100%;
    position: relative;
    left: 25%;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right {
  text-align: left;
}
@media screen and (max-width: 518px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right {
    width: 40%;
  }
}
@media screen and (max-width: 518px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right {
    width: 100%;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
  color: black;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  line-height: 48px;
}
@media screen and (max-width: 819px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 701px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 678px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 659px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 27px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 595px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right h2 {
    font-size: 23px;
    margin-bottom: 0px;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right p {
  color: black;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 608px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right button {
  color: white;
  font-size: 20px;
  font-weight: 300;
  background-color: #f8b653;
  font-style: normal;
  line-height: 24px;
  border: none;
  width: 150px;
  height: 50px;
}
@media screen and (max-width: 608px) {
  .carousel .carousel-inner .carousel-item .carousel-caption .row .carousel-right button {
    width: 130px;
    height: 35px;
  }
}
.carousel .carousel-control-next {
  width: 9%;
}
.carousel .carousel-control-prev {
  width: 9%;
}

.product h2 {
  text-align: center;
  margin-bottom: 89px;
  margin-top: 46px;
}
@media screen and (max-width: 998px) {
  .product .container {
    max-width: 820px;
  }
}
@media screen and (max-width: 768px) {
  .product .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product {
    width: 50%;
  }
}
.product .container .row .card_product .card {
  background: #f8f8f8;
  margin: 0 15px 49px 15px;
  border: none;
}
@media screen and (max-width: 768px) {
  .product .container .row .card_product .card {
    margin: 0 5px 49px 5px;
  }
}
.product .container .row .card_product .card img {
  width: 100%;
  padding: 30px 45px;
}
.product .container .row .card_product .card .card-body {
  padding: 0;
}
.product .container .row .card_product .card .card-body h5 {
  color: black;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  margin-left: 23px;
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body h5 {
    font-size: 18px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body h5 {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.product .container .row .card_product .card .card-body p {
  color: #cbc9c9;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  margin-left: 23px;
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body p {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body p {
    font-size: 12px;
  }
}
.product .container .row .card_product .card .card-body .buy button {
  color: black;
  font-size: 24px;
  font-weight: 300;
  background-color: #e1b067;
  font-style: normal;
  line-height: 29px;
  width: 50%;
  border: none;
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body .buy button {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body .buy button {
    font-size: 14px;
  }
}
.product .container .row .card_product .card .card-body .buy span {
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  margin-bottom: 0;
  padding: 15px 0;
  width: 50%;
  background: #dedddc;
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body .buy span {
    font-size: 18px;
    padding: 7px 0;
  }
}
@media screen and (max-width: 576px) {
  .product .container .row .card_product .card .card-body .buy span {
    font-size: 12px;
    padding: 7px 0;
  }
}